doctype
html(lang="en")
head
  link(href='http://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css')
  script(type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js")
  script(type="text/javascript" src="js/todo.js")
  link(rel="stylesheet", href="styles/_reset.css")
  link(rel="stylesheet", href="styles/styles.css")
  meta(charset="UTF-8")
  title Document
body
  h1 New Item
  section.form_container
    form( action = "/new_todo", method = "POST")
      fieldset
        div.new
          input.title( type = "text", name = "title" placeholder = "title")  
        div.new
          input.description( type = "text", name = "description" placeholder = "description")  
        button.save save
              


  