/*global styling*/
body{
  background-color: white;
  font-family: 'Slackey', cursive;
}

h1{
  font-size: 50px;
  color: orange;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 2px;
}

/*list.jade*/

div.header{
  margin-top: 5px;
  margin-bottom: 15px;
}

div.counter{
  display: inline-block;
  float: right;
  margin-right: 5px;
  margin-top: 25px;
  font-size: 25px;
  color: green;
}

p.complete{
  margin-left: 180px;
  margin-top: -23px;
  margin-right: 15px;
}


span.title{
  margin: 10px;
  font-size: 28px;
  font-weight: bold;
  color: #43007D;
  margin-left: 30px;
}

span.description{
  margin: 50px;
  font-size: 18px;
  color: blue;
  margin-left: 50px;
}

span.incomplete_number{
  margin-left: 10px;
  color: red;
  font-weight: bold;
}

span.pau_number{
  margin-left: 10px;
}

ul{
  text-align: left;
}

button{
  float: right;
  padding: 10px;
  border-radius: 5px;
  width: 5%;
  margin-top: -85px;
  margin-right: 20px;
  background-color: orange;
}


div.list{
  background-color: silver;
  margin: 5px;
  margin-bottom: 25px;
}

div.header{
  display:inline-block;
}

a{
  text-decoration: none;
  font-size: 40px;
}

/*new_todo.jade*/
button.save{
  float: left;
  margin-top: -10px;
  width: 5%;
}

/*edit_todo.jade*/
button.submit{
  float: left;
  margin-top: -10px;
  width: 70px;
}

div.new{
  background-color: white;
}

.checkbox input{
  display: inline-block;
}

.checkbox a{
    display: inline-block;
}

input.title{
  width: 500px;
  height: 30px;
}

input.description{
  width: 500px;
  height: 100px;
}

form{
  display: block;
}

.line_through{
  text-decoration: line-through;
}